.bookImage {
  width: 120px;
  height: 170px;
  object-fit: scale-down;
  margin-bottom: 10px;
}

.title {
  width: 140px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}

.select {
  font-size: 18px;
  width: 120px;
  height: 35px;
  border: 2px solid rgb(158, 162, 225);
  margin-left: 10px;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.box:hover {
  box-shadow: rgba(56, 56, 133, 0.25) 0px 2px 5px -1px,
    rgba(56, 56, 133, 0.25) 0px 1px 5px -1px;
  cursor: pointer;
}
