.bookImage {
  width: 120px;
  height: 170px;
  object-fit: scale-down;
  margin-bottom: 10px;
}

.title {
  width: 140px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.select {
  font-size: 18px;
  width: 120px;
  height: 35px;
  border: 2px solid rgb(158, 162, 225);
  margin-left: 10px;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
